@import "third-left";
@import "third-mid";
@import "third-right";

.third {
    position: relative;
    background-image: url(../img/third.png);
    // background-position: center;
    // background-size: 100% 100%;
    background-size: contain;

    &-control {
        //TODO
        width: 60%;
        z-index: 3;
        font-size: 2rem;
        font-family: $gotham;
        &-range {
            display: block;
            width: 100%;
        }
        &-dates {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
        }
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
    &-heading {
        font-weight: lighter;
        font-size: 3.2rem;
        padding-top: 8%;
        padding-left: 8%;
    }
    &-text {
        display: inline-block;
        & > strong {
            font-size: 3.2rem;
            display: inline-block;
        }
    }
}
#third-control-range {
    appearance: none;
    height: 13px;
    background-color: $rcolor;
    &::-webkit-slider-thumb {
        appearance: none;
        cursor: pointer;
        height: 60px;
        width: 50px;
        z-index: 3;
        position: relative;
        background-image: url(../img/selector.png);
        background-size: cover;
        background-clip: border-box;
    }
}

.image-bot,
.image-top {
    @include itemAlignFlow(center, column);
}

.image-right {
    @include itemAlignFlow(right, row);
}

.image-left {
    @include itemAlignFlow(left, row);
}
