@import "fonts";
@import "config";
@import "typography";

// My style
@import "first";
@import "animation";
@import "second";
@import "third";

.nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    display: inline-block;

    &-list {
        list-style: none;
        &--item {
            margin: 15px 9px;
            display: block;
            width: 15px;
            height: 15px;
            background-color: $mcolor;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &.active {
                background-color: $tcolor;
            }
        }
            }
}

.scroll {
    position: absolute;
    bottom: 0;
    height: 9%;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: $mcolor;
    background-image: url(../img/arrow-down.png),
        radial-gradient(
            farthest-side at 50% 80px,
            rgba(246, 139, 33, 1) 40%,
            rgba(255, 255, 255, 0) 94%
        );
    background-repeat: no-repeat;
    background-size: 5%, 100%;
    background-position: center bottom 20%;
}

body {
    background: lightblue;
}

@import "media";
